In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

tabela = pd.read_excel('trabalhofisicaexcel.xlsx',)
display(tabela)

   240.7  4.07
0  239.2  4.28
1  241.3  4.38
2  242.0  4.26
3  242.4  4.18
4  241.0  4.24
5  241.0  4.24

In [9]:
tabela =sns.regplot

<function seaborn.regression.regplot(*, x=None, y=None, data=None, x_estimator=None, x_bins=None, x_ci='ci', scatter=True, fit_reg=True, ci=95, n_boot=1000, units=None, seed=None, order=1, logistic=False, lowess=False, robust=False, logx=False, x_partial=None, y_partial=None, truncate=True, dropna=True, x_jitter=None, y_jitter=None, label=None, color=None, marker='o', scatter_kws=None, line_kws=None, ax=None)>